body {
	background-color: white;
	margin: 0 auto;
	font-family: Lucida Grande
}

#banner {
	background-color: white;
	height: 44px;
	line-height: 44px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid lightgray;
}

#banner form {
	display: inline;
}

#banner .userinfo {
	float: right;
}

#profile {
	width: 640px;
	margin: 0 auto;
	background-color: red;
}

#profile .userinfo {
	width: 20%;
	float: left;
	background-color: white;
	padding: 5px;
}

#profile .userinfo h1 {

}

#profile .feed {
	width: 75%;
	float: right;
	padding-left: 20px;
	padding-top: 20px;
}

.postform {
	margin: 0;
	margin-bottom: 10px;
}

.postform textarea {	
	margin: 0;
	height: 5em;
	width: 50%;
	display: block;
}

.postform input {
	
}

.post {
	padding: 5px 5px 5px 5px;
	margin-bottom: 10px;
	background-color: white;
}

.post .author {
	font-size: small;
}

.post .time {
	display: block;
	font-size: small;
	color: gray;
}

.post .body {
	margin: 5px auto;
}

.post .likes {
	font-size: small;
	font-weight: light;
}

#allusers {
	margin: 0 auto;
	width: 640px;
	
}
